{
  "build": {
    "preview": {
      "env": {
        "API_ENDPOINT": "$API_ENDPOINT",
        "API_KEY": "$API_KEY",
        "BUCKET_NAME": "$BUCKET_NAME"
      },
      "android": {
        "buildType": "apk"
      }
    }
  }
}
